.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 9.375rem;
  width: 80%;
  background-color: $white;
  margin: 0 auto;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5rem;

    li {
      margin: 0 2rem;
      a {
        font-weight: $bold;
        color: $medium-grey;
        text-decoration: none;

        transition: color 0.3s;

        &:hover {
          color: $very-dark-blue;
        }
      }
    }
  }
}
