// COLORS

$very-dark-blue: hsl(225, 13%, 12%);
$dark-grey: hsl(226, 6%, 40%);
$medium-grey: hsl(223, 7%, 53%);
$light-grey: hsl(225, 17%, 82%);
$very-light-grey: hsl(230, 21%, 95%);
$red: hsl(0, 68%, 61%);
$white: hsl(0, 100%, 100%);