.page-title {
  position: absolute;
  padding-left: 150px;
  top: -15px;
  left: 5%;
  font-weight: $medium;
  letter-spacing: 0.938rem;
  color: $light-grey;
  text-transform: uppercase;

  transform-origin: left center;
  transform: rotate(90deg);
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 105px;
    height: 1px;
    background-color: $light-grey;

    transform: translateY(-50%);
  }

  @include phone {
    display: none;
  }
}
