.contact {
  height: 750px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  margin-bottom: 200px;

  &__background {
    position: absolute;
    width: 60%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
  }

  &__title {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
  }

  &__content {
    position: relative;
    width: 40rem;
    padding: 160px 0 0 180px;
    z-index: 100;
    background-color: $white;
  }

  &__content-title {
    &::before {
      content: "";
      display: block;
      width: 3.75rem;
      height: 1px;
      background-color: $light-grey;
      margin-bottom: 80px;
    }
  }

  &__content-text {
    margin-top: 3.125rem;
  }
}

.details {
  width: 100%;
  padding: 4.375rem 0;
  display: flex;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3.75rem;
    height: 1px;
    background-color: $light-grey;
  }

  &__title {
    width: 12.5rem;
    white-space: pre-wrap;
    margin-right: 15rem;
  }

  &__office {
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
  }
}

.office {
  margin-bottom: 1.2rem;
  &__name {
    font-weight: $bold;
    color: $dark-grey;
    margin-bottom: 0.6rem;
  }
  &__details {
    > li {
      margin-bottom: 0.5rem;
    }
  }
  &__map-link {
    font-weight: $bold;
    color: $very-dark-blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &::after {
      content: "";
      display: inline-block;
      margin-left: 1.5rem;
      width: 1.5rem;
      height: 1.125rem;
      background: url("../images/icon-arrow-black.svg") no-repeat center;
      background-size: cover;
      transform: translateY(25%);
    }
  }
}

.form {
}
