.contact {
  height: 750px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  margin-bottom: 200px;

  &__background {
    position: absolute;
    width: 60%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;

    @include tablet {
      width: 100%;
    }
  }

  &__title {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
  }

  &__content {
    position: relative;
    width: 40rem;
    padding: 160px 0 0 180px;
    z-index: 100;
    background-color: $white;

    @include tablet {
      width: 35rem;
      padding: 90px 0 0 50px;
    }
  }

  &__content-title {
    &::before {
      content: "";
      display: block;
      width: 3.75rem;
      height: 1px;
      background-color: $light-grey;
      margin-bottom: 80px;
    }
  }

  &__content-text {
    margin-top: 3.125rem;
  }
}

.details {
  width: 100%;
  padding: 4.375rem 0;
  display: flex;
  position: relative;
  margin-bottom: 200px;

  @include tablet {
    flex-direction: column;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3.75rem;
    height: 1px;
    background-color: $light-grey;
  }

  &__title {
    width: 12.5rem;
    white-space: pre-wrap;
    margin-right: 15rem;

    @include tablet {
      margin-bottom: 4rem;
    }
  }

  &__office {
    display: flex;
    flex-direction: column;
    margin-right: 8rem;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      margin-right: 0;
    }
  }
}

.office {
  margin-bottom: 1.2rem;

  @include tablet {
    margin-bottom: 2rem;
  }

  &__name {
    font-weight: $bold;
    color: $dark-grey;
    margin-bottom: 0.6rem;
  }
  &__details {
    > li {
      margin-bottom: 0.5rem;
    }
  }
  &__map-link {
    font-weight: $bold;
    color: $very-dark-blue;
    text-decoration: none;

    @include tablet {
      margin-bottom: 4rem;
    }

    &:hover {
      text-decoration: underline;
    }

    &::after {
      content: "";
      display: inline-block;
      margin-left: 1.5rem;
      width: 1.5rem;
      height: 1.125rem;
      background: url("../images/icon-arrow-black.svg") no-repeat center;
      background-size: cover;
      transform: translateY(25%);
    }
  }
}

.form-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;

  @include tablet {
    flex-direction: column;
    justify-content: flex-start;
  }

  &__title {
    width: 13rem;
    white-space: pre-wrap;
    //margin-right: 15rem;

    @include tablet {
      margin-bottom: 4rem;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 35rem;

  @include tablet {
    width: 100%;
  }

  &__input {
    width: 100%;
    height: 4rem;
    border: none;
    border-bottom: 1px solid $very-dark-blue;
    position: relative;
    font-family: "Spartan", sans-serif;
    font-size: 0.938rem;
    font-weight: $medium;
    line-height: 1.563rem;
    color: $dark-grey;
    padding: 20px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      position: absolute;
      font-family: "Spartan", sans-serif;
      font-size: 1.25rem;
      font-weight: $bold;
      color: $light-grey;
      left: 20px;
      bottom: 20px;
    }
    &--name {
      margin-bottom: 1rem;
    }

    &--email {
      margin-bottom: 1rem;
    }

    &--text {
      height: 150px;
      resize: none;

      &::placeholder {
        top: 20px;
      }
    }
    &--send {
    }
  }
}
